@font-face {
    font-family: 'Respective';
    src: url('./fonts/Respective_2.0 2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: Arial, sans-serif;
}
h1{
    margin: 0;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.top-panel {
    font-family: 'Respective', sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 20px 0;
    color: #0D4B68;
}

@media screen and (max-width: 430px) {


}
